.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.icon-bullet {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.icon-bullet .icon {
  width: 40px;
  height: 40px;
  margin-top: 26px;
  flex-shrink: 0;
}
