/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --background-color: white;
  --light-color: #f6f6f6;
  --dark-color: #505050;
  --title-color: #323232;
  --text-color: #131313;
  --link-color: #3b63fb;
  --link-hover-color: #1d3ecf;
  --light-gray-color: #e2e2e2;

  /* fonts */
  --body-font-family: delivery, sans-serif;
  --heading-font-family: delivery, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;

  /* nav height */
  --nav-height: 64px;
}

/* fallback fonts */
@font-face {
  font-family: roboto-condensed-fallback;
  size-adjust: 88.82%;
  src: local('Arial');
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 99.529%;
  src: local('Arial');
}

@media (width >= 900px) {
  :root {
    /* body sizes */
    --body-font-size-m: 18px;
    --body-font-size-s: 16px;
    --body-font-size-xs: 14px;

    /* heading sizes */
    --heading-font-size-xxl: 45px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 28px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

body {
  display: none;
  max-width: 1640px;
  margin: auto;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  color: var(--title-color);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
  font-stretch: condensed;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

.landing-page-two-columns > main {
  max-width: 1400px;
  margin: auto;
}

main > div {
  margin: 40px 16px;
}

input,
textarea,
select,
button {
  font: inherit;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  font-family: var(--body-font-family);
  font-style: normal;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: background-color .2s ease, color .2s ease;
  font-weight: bold;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  color: #fff;
  background-color: #d40511;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  color: #fff;
  background-color: #eb131e;
}

a.button:active,
button:active{
  background-color: #9a0000;
  color: #fff;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  border: 1px solid #d40511;
  font-weight: normal;
  color: #d40511;
  background-color: #fff;
}

a.button.secondary:hover,
button.secondary:hover,
a.button.secondary:focus,
button.secondary:focus {
  background-color: #d40511;
  border-color: #d40511;
  color: #fff;
}

a.button.secondary:active,
button.secondary:active{
  border-color: #9a0000;
  background-color: #9a0000;
  color: #fff;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
.section {
  clear: both;
}

main > .section {
  margin: 40px 0;
}

main > .section > div {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
}

main > .section:first-of-type {
  margin-top: 0;
}

@media (width >= 900px) {
  main > .section > div {
    padding: 0 32px;
  }
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
  margin: 0;
  padding: 40px 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (width >= 900px) {
  .section-float-left {
    float: left;
    clear: none;
  }

  .section-float-right {
    float: right;
    clear: none;
  }

  .section-float-new-line {
    display: block;
    clear: both !important;
  }
}

.section-width-full {
  width: 100%;
}

@media (width >= 900px) {
  .section-width-half {
    width: 50%;
  }
}

.padding-small {
  padding: 10px;
}

.padding-large {
  padding: 40px;
}

.no-margin {
  margin-top: 0;
}

.margin-small {
  margin-top: 10px;
}

.margin-large {
  margin-top: 40px;
}

main::before,main::after {
  display: table;
  content: " ";
}

main::after {
  clear: both;
}

.title-underline h1,
.title-underline h2,
.title-underline h3,
.title-underline h4,
.title-underline h5,
.title-underline h6 {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.title-underline h1::after,
.title-underline h2::after,
.title-underline h3::after,
.title-underline h4::after,
.title-underline h5::after,
.title-underline h6::after {
  content: ".";
  color: rgb(0 0 0 / 0%);
  z-index: -1;
  display: block;
  position: absolute;
  transform: translateY(round(-0.1em, 1px));
  top: 0;
  width: 50%;
  border-bottom: .12em solid #d40511;
}

.landing-page-two-columns h1 {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.landing-page-two-columns h1::after {
  content: ".";
  color: transparent;
  z-index: -1;
  display: block;
  position: absolute;
  transform: translateY(round(-0.1em, 1px));
  top: 0;
  width: 50%;
  border-bottom: .12em solid #d40511;
}

.landing-page-two-columns img {
  display: block;
  margin: 0 auto;
}

.center-button-alignment a.button{
  display: block;
  min-width: min(400px, 100%);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.background-color-light-gray {
  background-color: var(--light-gray-color);
}
